
<div class="cell-content">
    <div class="day-header">
        <article>
            {{ date().getDate() }}
        </article>
    </div>

    <div class="shifts-container">
        @if (shifts()) {
            <div class="shifts-list">
                @for(shift of shifts(); track shift) {
                    <div class="shift-item">
                        <span class="shift-amount">${{shift.creditTips + shift.cashTips - shift.tipout}}</span>
                        <div class="shift-actions">
                            <i class="pi pi-pencil edit-btn" (click)="onEditShift(shift)"></i>
                            <i class="pi pi-trash delete-btn" (click)="onDeleteShift(shift.id)"></i>
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    <div class="add-button-container">
        <i class="pi pi-plus add-btn" (click)="onAddShift()"></i>
    </div>
</div>