
<div class="cell-content">
    <article>
        {{ date().getDate() }}
    </article>

    @if (shifts()) {
        <table class="shifts">
            @for(shift of shifts(); track shift) {
                <tr class="shift-buttons">
                    <td>${{shift.creditTips + shift.cashTips - shift.tipout}}</td>
                    <td class="pull-right">
                        <i class="pi pi-pencil edit-btn" (click)="onEditShift(shift)"></i>
                        <i class="pi pi-trash delete-btn" (click)="onDeleteShift(shift.id)"></i>
                    </td>
                </tr>
            }
        </table>
    }

    <div>
        <i class="pi pi-plus add-btn" (click)="onAddShift()"></i>
    </div>
</div>