.hover-btn {
    display: none;
}

.cell-content:hover .hover-btn {
    display: inline-block;
}

.cell-content {
    height: 100px;
}

.shifts {
    width: 100%;
}

.pull-right {
    text-align: right;
}

.shift-button {
    margin-left: 2px;
}