.cell-content {
    min-height: 100px;
}

.shifts {
    width: 100%;
}

.pull-right {
    text-align: right;
}

.edit-btn {
    margin-right: 8px;
}

.edit-btn:hover {
    color: var(--p-amber-400);
}

.delete-btn {
    margin-right: 5px;
}

.delete-btn:hover {
    color: var(--p-red-600);
}

.cell-content:hover .add-btn {
    display: inline-block;
    opacity: 1;
}

.add-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
    display: inline-block;
}

.add-btn:hover {
    color: var(--p-primary-color);
}