<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <label for="username">Username</label>
    <input autocomplete="username" id="username" [(ngModel)]="userName" name="userName" required>
    <label for="password">Password</label>
    <input autocomplete="current-password" id="password" type="password" [(ngModel)]="password" name="password" required>
    <button type="submit">Login</button>
    @if (error) {
      <div class="error">{{ error }}</div>
    }
  </form>
  <br>
  New User? <a routerLink="/register">Register here</a>
</div>
