article {
    border: 1px solid;
    border-radius: 6px;
}

button {
    padding: 0.35rem 0.5rem;
    background-color: #2c7b7e;
    color: #c0cfd1;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 50%;
    text-align: left;
}

#details {
    list-style: none;
    padding: 0;
    margin: 0;
}

#actions {
    width: 100%;
}

button:hover,
button:active,
.active {
    background-color: #65adaf;
    color: #150722;
}

span {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: normal;
}