<app-card>
    <section class="shift">
        <header><h2>{{shift().date}}</h2></header>
        <ul>
            <li>Credit Tips: {{shift().creditTips}}</li>
            <li>Cash Tips: {{shift().cashTips}}</li>
            <li>Tipout: {{shift().tipout}}</li>
            <li>Total Tips: {{shift().creditTips + shift().cashTips - shift().tipout}}</li>

            @if (shift().hoursWorked !== undefined) {
                <li>Hours worked: {{shift().hoursWorked}}</li>
                <li>Hourly: {{
                    (shift().creditTips + shift().cashTips - (shift().tipout !== undefined ? shift().tipout : 0)) /
                    shift().hoursWorked!
                    }}
                </li>
            }
            <div>
                <button (click)="onEditShift()">Edit</button>
                <button (click)="onDeleteShift()">Delete</button>
            </div>

            @if(isEditingShift) {
                <app-edit-shift [shift]="shift()" (close)="onFinishEditShift()"></app-edit-shift>
            }
        </ul>
    </section>
</app-card>