.emphasis {
    font-weight: bold;
    color: #3a2c54;
    font-size: 1.15rem;
    letter-spacing: 0.5px;
}

.summary-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--p-surface-0);
    padding: 1.5rem;
    border-radius: 1rem;
    max-width: 1400px;
    margin: 1.5rem auto 0 auto;
    border: 1px solid var(--p-surface-200);
    width: 100%;
}

.summary-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.05rem;
    color: #2d1c3a;
    align-items: flex-end;
    flex: 1;
    padding-right: 45px;
}

.summary-chart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 180px;
    flex: 1;
    padding-right: 45px;
}

.tipout-note {
    font-size: 0.7em;
    color: #888;
}