<table>
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        @for(day of daysAndShifts; track trackByDate(day)) {
            <td [class.today]="isToday(day.date)">
                <app-day
                    [date]="day.date"
                    [shifts]="day.shifts"
                    (addShift)="onAddShift($event)"
                    (deleteShift)="onDeleteShift($event)"
                    (editShift)="onEditShift($event)" />
            </td>
        }
    </tr>
</table>
