<button (click)="onAddShift()">Add Shift</button>

<h4>
    <button (click)="onPreviousInterval()"> &lt; </button>
    {{firstDayOfInterval | date: 'shortDate'}} - {{lastDayOfInterval | date: 'shortDate'}}
    <button (click)="onNextInterval()"> &gt; </button>
</h4>

<section id="shifts">
    @for(shift of shifts; track shift.id) {
        <app-shift
            [shift]="shift"
            (deleteShift)="onDeleteShift($event)"
            (editShift)="onEditShift($event)" />
    }
</section>

@if(isAddingShift) {
    <app-edit-shift (close)="onFinishAddShift($event)" />
}

@if(isEditingShift) {
    <app-edit-shift [shift]="activeShift!" (close)="onFinishEditShift($event)" />
}