<div class="interval-bar">
    <div class="equal-width left">
        <label for="weekPicker">Pick a day: &nbsp;</label>
        <input id="weekPicker" type="date" (change)="onWeekPickerChange($event)" />
    </div>

    <div class="interval-controls">
        <button (click)="onPreviousInterval()"> &lt; </button>
        <span>
            {{ firstDayOfInterval ? (firstDayOfInterval | date: 'shortDate') : '' }} -
            {{ lastDayOfInterval ? (lastDayOfInterval | date: 'shortDate') : '' }}
        </span>
        <button (click)="onNextInterval()"> &gt; </button>
    </div>

    <div class="equal-width right">
        <button (click)="onAddShift(undefined)">Add Shift</button>
    </div>
</div>


<section id="shifts">
    @if (firstDayOfInterval) {
        <app-week
        [firstDay]="firstDayOfInterval"
        [shifts]="shifts"
        (addShift)="onAddShift($event)"
        (deleteShift)="onDeleteShift($event)"
        (editShift)="onEditShift($event)"/>
    }
</section>

@if (shifts && shifts.length > 0) {
    <app-summary [shifts]="shifts"></app-summary>
}

@if(isAddingShift) {
    <app-add-shift [shiftDate]="dateToAddShift" (close)="onFinishAddShift($event)" />
}

@if(isEditingShift && activeShift) {
    <app-edit-shift [shift]="activeShift" (close)="onFinishEditShift($event)" />
}